@model forum.ViewModels.PostsListViewModel
@{
    ViewData["Title"] = "Search";
}


<form method="get" asp-action="Search">
    <div>
        <label for="term">Search Term:</label>
        <input type="text" id="term" name="term" placeholder="Enter a search term"/>
        <button type="submit">Search</button>
    </div>
</form>


<h1>Results for</h1>
<div>
    @if (Model.Posts.Any())
    {
        @foreach (var post in Model.Posts)
        {
            <partial name="_PostCard" model="post"/>
        }
    }
    else
    {
        <div>
            No posts found matching your search term. Please try again.
        </div>
    }
</div>