@model forum.ViewModels.PostsListViewModel
@{
    ViewData["Title"] = "Search";
}


<form method="get" asp-action="Search">
    <div class="form-group">
        <label for="term">Search Term:</label>
        <input type="text" id="term" name="term" placeholder="Enter a search term"/>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>


<h1>Results</h1>
<div>
    @if (Model.Posts.Any())
    {
        @foreach (var post in Model.Posts)
        {
            <partial name="_Post" model="post"/>
        }
    }
    else
    {
        <div>
            No posts found matching your search term. Please try again.
        </div>
    }
</div>