@using forum.ViewModels
@model forum.ViewModels.PostsListViewModel
@{
    ViewData["Title"] = "Search";
}

<div class="search">
    <partial name="_SearchField"/>

    <hr>

    @if (Model.Posts.Any())
    {
        @* Shows all posts matching the search query *@
        <div class="posts">
            @foreach (var post in Model.Posts)
            {
                var postCardViewModel = new PostCardViewModel(post, true);
                <partial name="_PostCard" model="postCardViewModel"/>
            }
        </div>
    }
    else
    {
        <p>No posts found matching your search term. Please try again.</p>
    }
</div>