@using forum.ViewModels
@model forum.ViewModels.PostsListViewModel
@{
    ViewData["Title"] = "Search";
}

<partial name="_SearchField"/>

<h1>Results:</h1>
<div>
    @if (Model.Posts.Any())
    {
        @foreach (var post in Model.Posts)
        {
            var postCardViewModel = new PostCardViewModel
            {
                Post = post,
                LimitContent = true,
                HideGoToPost = false
            };
            <partial name="_PostCard" model="postCardViewModel"/>
        }
    }
    else
    {
        <div>
            No posts found matching your search term. Please try again.
        </div>
    }
</div>