@model Comment

<div>
    <h3>@Model.CommentId</h3>
    <span>@Model.Content</span>
    <div>
        <button disabled>Like (not implemented)</button>
        <button>Reply</button>
        <div>
            @*Create reply(comment) to comment*@
            @*Passes down the Comment as Model so that the view can use its CommentId as ParentCommentId, and its PostId*@
            <partial name="_CreateReply" model="Model"/>
        </div>
    </div>
    <div class="ps-3">
        @if (Model.CommentReplies != null)
        {
            foreach (var comment in Model.CommentReplies)
            {
                <partial name="_Comment" model="comment"/>
            }
        }
    </div>
</div>

@*<partial name="_Comment" model="@comment"/>
<a asp-controller="Comments"
   asp-action="Create"
   asp-route-id="@Model.CommentId">
    Reply
</a>*@