@model Comment

<div>
    <h3>@Model.CommentId</h3>
    <span>@Model.DateCreated</span>
    <span>@Model.DateLastEdited</span>
    <div>
        <span>@Model.Content</span>
        <details>
            <summary>Edit</summary>
            <div>
                <partial name="_UpdateComment" model="Model" />
            </div>
        </details>
    </div>
    <div>
        <button disabled>Like (not implemented)</button>
        <details>
            <summary>Reply</summary>
            <div>
                <partial name="_CreateReply" model="new Comment { ParentCommentId = Model.CommentId, PostId = Model.PostId }" />
            </div>
        </details>
    </div>
    <div class="ps-3">
        @if (Model.CommentReplies != null)
        {
            foreach (var comment in Model.CommentReplies)
            {
                <partial name="_Comment" model="comment"/>
            }
        }
    </div>
</div>