@model Comment

<div class="ps-2">
    <h3>@Model.CommentId</h3>
    <span>@Model.Content</span>
    @foreach (var comment in @Model.Comments)
    {
        <partial name="_Comment" model="@comment"/>
    }
</div>