@model List<Comment>

<div class="comments">
    @if (Model.Count > 0)
    {
        // Sorts comments by total likes, then by date created. Then show them.
        @foreach (var comment in Model.OrderByDescending(comment => comment.TotalLikes).ThenBy(comment => comment.DateCreated))
        {
            @if (comment.ParentCommentId == null) // Only shows comments directly to the post, not replies(comments) to other comments.
            {
                <partial name="_Comment" model="comment"/>
            }
        }
    }
    else
    {
        <span>Be the first to comment</span>
    }
</div>