@model List<Comment>

<div class="comments">
    @if (Model.Count > 0)
    {
        @* Sorts comments by total likes (1st priority) and date created (2nd priority) *@
        @foreach (var comment in Model.OrderByDescending(comment => comment.TotalLikes).ThenBy(comment => comment.DateCreated))
        {
            @* Lists all comments *@
            @if (comment.ParentCommentId == null) @* Only shows comments directly linked to a post, not replies/comments to other comments. *@
            {
                <partial name="_Comment" model="comment"/>
            }
        }
    }
    else
    {
        <span>Be the first to comment</span>
    }
</div>