@model Comment

<form asp-controller="Post" asp-action="CreateComment">
	<input type="hidden" asp-for="ParentCommentId"/>
	<input type="hidden" asp-for="PostId"/>
	<div>
		<label asp-for="Content"></label><span>*</span>
		<input asp-for="Content" rows="1"/>
		<span asp-validation-for="Content"></span>
	</div>
	<button type="submit">Submit</button>
</form>
