@model Comment

<form asp-controller="Post" asp-action="CreateComment" class="p-2 bg-warning">
    <input type="hidden" asp-for="ParentCommentId"/>
    <input type="hidden" asp-for="PostId"/>

    <div class="form-group">
        <label asp-for="Content">Reply:</label>
        <textarea class="form-control" asp-for="Content" rows="1"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit Reply</button>
</form>
