<form method="get" asp-controller="Search" asp-action="Search">
    <div>
        <label for="term">Search Term:</label>
        <input type="text" id="term" required minlength="2" maxlength="64" name="term" placeholder="Enter a search term"/>
        <partial name="_SortBy"/>
        <button type="submit">Search</button>
    </div>
</form>