<form method="get">
    <span>
        <label for="sortby">Sort by:</label>
        <select id="sortby" name="sortby" onchange="this.form.submit()">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="likes">Likes (high → low)</option>
            <option value="leastlikes">Likes (low → high)</option>
            <option value="comments">Comments (high → low)</option>
            <option value="leastcomments">Comments (low → high)</option>
        </select>
    </span>
</form>
<script>
    // Set the value of the sortby dropdown to the value in the URL
    const urlSearch = new URLSearchParams(window.location.search);  
    const term = urlSearch.get('term');
    const sortby = urlSearch.get('sortby');
    
    // If the value is not null, set the value of the dropdown to the value in the URL
    if (term != null) document.getElementById("term").value = term;
    // If the value is not null, set the value of the dropdown to the value in the URL
    if (sortby != null) document.getElementById("sortby").value = sortby;  
</script>