@model Comment

<form asp-controller="Post" asp-action="UpdateComment" class="update-comment">
    <input type="hidden" asp-for="CommentId"/>
    <div class="form-group">
        <label asp-for="Content">Edit:</label>
        <textarea asp-for="Content" rows="3"></textarea>
        <span asp-validation-for="Content" class="error"></span>
    </div>
    <div class="actions">
        <button type="submit">Submit</button>
    </div>
</form>
