@model Comment

<form asp-controller="Post" asp-action="UpdateComment">
    <input type="hidden" asp-for="CommentId"/>

    <div>
        <label asp-for="Content">Content</label>
        <textarea asp-for="Content" rows="1"></textarea>
	    <span asp-validation-for="Content"></span>
    </div>
    
    <button type="submit">Edit reply</button>
</form>