.account-status {
    .img-container {
        display: flex;
        align-items: center;
        margin-left: 4px;
        width: 40px;
        height: 40px;
        border-radius: 80px;
        overflow: hidden;
        
        & img {
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
}