.shared-postCompact {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--fg-2);

    & .top {
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: space-between;
        align-items: center;

        & * {
            font-size: var(--fs-s);
            color: var(--txt-2);
        }

        & .chips {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5px;

            & a {
                padding: 3px 10px;
                border-radius: 20px;
                color: var(--txt-1);
                text-decoration: none;
                background-color: var(--fg-1);
                transition: var(--tr-default);

                &.category {
                    font-weight: bold;

                    &:hover {
                        filter: brightness(120%);
                    }
                }

                &.tag {
                    &:hover {
                        background-color: var(--fg-3);
                    }
                }
            }
        }

        & .creation-info {
            & .user {
                & a {
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }

    & .bottom {
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;

        & .left-side {
            width: 100%;
            padding: 10px;
            background-color: var(--fg-1);
            border-radius: 5px;

            & .title {
                font-size: var(--fs-l);
                margin: 2px 0 1px 0;
            }

            & .content {
                position: relative;
                width: 100%;
                height: 20px;
                overflow: hidden;

                & * {
                    color: var(--txt-2);
                    font-size: var(--fs-s);
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 100px;
                    background: linear-gradient(to right, transparent 0%, 33%, var(--fg-1) 100%);
                }
            }
        }

        & .right-side {
            display: flex;
            flex-grow: 1;

            & a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 40px;
                border-radius: 5px;
                text-decoration: none;
                background-color: var(--fg-1);
                transition: var(--tr-default);

                &:hover {
                    background-color: var(--fg-3);
                }

                & i {
                    font-size: var(--fs-xl);
                }
            }
        }
    }
}