.shared-postCard {
    display: flex;
    flex-direction: column;
    padding: 4px;
    border-radius: 6px;
    background-color: var(--fg-2);
    transition: var(--tr-default);

    & .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 16px 0;
        border-radius: 6px 6px 0 0;
        background-color: var(--fg-1);

        & * {
            font-size: var(--fs-s);
            color: var(--txt-2);
        }

        & .chips {
            display: flex;
            flex-direction: row;
            gap: 4px;

            @media (max-width: 450px) {
                flex-direction: column;
            }

            & a {
                text-decoration: none;
                height: min-content;
                padding: 8px 12px;
                border-radius: 48px;
                background-color: var(--fg-2);

                &.category {
                    color: var(--txt-1);
                    font-weight: bold;
                    transition: var(--tr-default);

                    &:hover {
                        filter: brightness(120%);
                    }
                }

                &.tag {
                    transition: var(--tr-default);

                    &:hover {
                        background-color: var(--fg-3);
                    }
                }
            }
        }

        & .creation-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            .user-info {
                text-align: right;

                .user {
                    text-decoration: none;
                    font-weight: bold;

                    & a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .last-edited {
                    display: block;
                    font-style: italic;
                }

            }

            & img {
                height: 28px;
                aspect-ratio: 1/1;
                border-radius: 48px;

                @media (max-width: 450px) {
                    display: none;
                }
            }
        }
    }

    & .content {
        padding: 8px 16px 16px;
        background-color: var(--fg-1);
        border-radius: 0 0 6px 6px;
        
        & .markdown {
            & ul,
            & ol {
                margin: 4px 0;
                padding-left: 20px;
                
                & li {
                    padding: 2px 0;
                }
            }
            
            & code {
                padding: 0 4px;
                font-family: monospace;
                border-radius: 4px;
                color: white;
                background-color: black;
            }
            
            & pre {
                padding: 12px 16px;
                border: 1px solid var(--fg-2);
                border-radius: 6px;
                background-color: black;
                
                & code {
                    padding: 0 !important;
                    font-size: var(--fs-s);
                }
            }
            
            & h2, & h3, & h4, & h5, & h6 {
                margin-top: 16px;
            }
            
            & hr {
                margin: 16px 0;
            }
        }

        & .limit-content {
            position: relative;
            max-height: 200px;
            overflow: hidden;

            &:after {
                content: "";
                position: absolute;
                top: 100px;
                left: 0;
                height: 100px;
                width: 100%;
                background: linear-gradient(to bottom, transparent, var(--fg-1) calc(100% - 4px));
            }
        }
    }

    & .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4px;
        padding: 4px;

        & * {
            font-size: var(--fs-s);
            font-weight: bold;
        }

        > div {
            display: flex;
            flex-direction: row;
            gap: 4px;
            
            .show-on-small-screen {
                display: none;
            }

            & a {
                text-decoration: none;
                border-radius: 6px;
                padding: 8px 12px;
                color: var(--txt-2);
                transition: var(--tr-default);
                
                & * {
                    color: var(--txt-2);
                    transition: var(--tr-default);
                }

                & i {
                    font-size: var(--fs-default);
                    transition: var(--tr-default);
                }

                &.liked {
                    & i {
                        color: var(--primary);
                        transform: scale(1.125);
                    }
                }

                &:hover {
                    color: var(--txt-1);

                    & * {
                        color: var(--txt-1);
                    }
                }
            }

            @media (max-width: 450px) {
                & a {
                    padding: 8px;
                }

                .hide-on-small-screen {
                    display: none;
                }
                
                .show-on-small-screen {
                    display: block;
                }
            }

            &.likes-comments {
                & a {
                    background-color: transparent;

                    &:hover {
                        background-color: var(--fg-1);
                    }
                    
                    & i {
                        margin-right: 6px;
                    }
                }
            }

            &.links {
                & a {
                    background-color: var(--fg-1);

                    &:hover {
                        background-color: var(--fg-3);
                    }
                }
            }
        }
    }
}