.search-field {
    .search-field-inner-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 24px;

        .error {
            position: absolute;
            top: -4px;
            left: 0;
            transform: translateY(-100%);
            font-size: var(--fs-s);
            color: var(--error);
        }

        @media (max-width: 555px) {
            gap: 8px;
        }
        
        @media (max-width: 520px) {
            flex-direction: column;
            align-items: start;
        }
    }
}