.search-field {
    .search-field-inner-container {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 24px;

        @media (max-width: 555px) {
            gap: 8px;
        }
        
        @media (max-width: 520px) {
            flex-direction: column;
            align-items: start;
        }
    }
}