@model forum.ViewModels.PostsListViewModel
@{
    ViewData["Title"] = @Model.CurrentViewName + " View";
}

<h1>Posts (@Model.CurrentViewName View)</h1>
<a href="/Post/Compact">Change to Compact View</a>

<div>
    @foreach (var post in Model.Posts)
    {
        <partial name="_PostCard" model="post"/>
    }
</div>