@using forum.ViewModels
@model forum.ViewModels.PostsListViewModel
@{
    ViewData["Title"] = "Posts (" + Model.CurrentViewName + " view)";
}

<div id="post-card">
    <div class="main-header">
        <span class="title">Posts (@Model.CurrentViewName View)</span>

        <partial name="_SortBy"/>

        <a class="change-view-link" href="/Post/Compact">Change to Compact View<i class="fa-solid fa-compress"></i></a>
    </div>
    <div class="posts">
        @foreach (var post in Model.Posts)
        {
            var postCardViewModel = new PostCardViewModel
            {
                Post = post,
                LimitContent = true,
                HideGoToPost = false
            };

            <partial name="_PostCard" model="postCardViewModel"/>
        }
    </div>
</div>