@model forum.ViewModels.PostsListViewModel
@{
    ViewData["Title"] = "Posts (" + Model.CurrentViewName + " view)";
}

<div class="post-compact">
    @* Header *@
    <div class="main-header">
        <span class="title">Posts (@Model.CurrentViewName View)</span>

        <partial name="_SortBy"/>

        <a class="input" href="/Post/Card">Change to Card View&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-expand"></i></a>
    </div>

    @* Posts *@
    <div class="posts">
        @foreach (var post in Model.Posts)
        {
            <partial name="_PostCompact" model="post"/>
        }
    </div>
</div>