@model forum.ViewModels.PostsListViewModel
@{
    ViewData["Title"] = "Posts (" + Model.CurrentViewName + " view)";
}

<div id="post-card">
    <div class="main-header">
        <span class="title">Posts (@Model.CurrentViewName View)</span>
        <a class="change-view-link" href="/Post/Card">Change to Card View<i class="fa-solid fa-expand"></i></a>
    </div>
    <div class="posts">
        @foreach (var post in Model.Posts.OrderByDescending(post => post.DateCreated))
        {
            <partial name="_PostCompact" model="post"/>
        }
    </div>
</div>