@model forum.ViewModels.PostViewModel
@{
    ViewData["Title"] = "Create Post";
}

<div class="create">
    <h1>Create Post</h1>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Post.Title">Title*</label>
            <input asp-for="Post.Title"/>
            <span asp-validation-for="Post.Title" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.Category">Category*</label>
            <select asp-for="Post.CategoryId" asp-items="Model.CategorySelectList"></select>
            <span asp-validation-for="Post.CategoryId" class="error"></span>
        </div>
        <div class="form-group tags">
            <label asp-for="Post.Tags">Tags* <span class="explanation">(hold <span class="ctrl">Ctrl</span> to select multiple)</span></label>
            <select multiple asp-for="Post.TagsId" asp-items="Model.TagList"></select>
            <span asp-validation-for="Post.TagsId" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.Content">Content*</label>
            <textarea id="Post.Content" asp-for="Post.Content"></textarea>
            <span asp-validation-for="Post.Content" class="error"></span>
        </div>
        <button disabled="" title="Fill all required fields" type="submit">Create</button>
    </form>
</div>

@*https://github.com/sparksuite/simplemde-markdown-editor*@
<link rel="stylesheet" href="~/lib/simplemde/dist/custom-simplemde.css">
<script src="~/lib/simplemde/dist/simplemde.min.js"></script>
<script>
 const postContent = document.getElementById("Post.Content");
 const simplemde = new SimpleMDE({ element: postContent, spellChecker: false });
 
 // Get the SimpleMDE content element
 const simpleMDEContent = document.querySelector(".valid");
 
 // Get the min max length from the element attribute (it's set in the model from Annotations)   
 const minLength = postContent.getAttribute("data-val-length-min");
 const maxLength = postContent.getAttribute("data-val-length-max");
 
 // Source https://stackoverflow.com/questions/62408646/select-an-object-property-within-an-attribute-of-the-dom
 
 
 // Validate the content length on change and disable the submit button if it's not valid
 const submitButton = document.querySelector("button[type='submit']");
  simplemde.codemirror.on("change", function () {
      const value = simplemde.codemirror.getValue();
       submitButton.disabled=value.length > maxLength || value.length < minLength;
});
</script>