@using forum.ViewModels
@model Post
@{
    ViewData["Title"] = Model.Title;
}

<div>
    @{
        var postCardViewModel = new PostCardViewModel
        {
            Post = Model,
            LimitContent = false,
            HideGoToPost = true
        };
    }
    
    <partial name="_PostCard" model="postCardViewModel"/>
    <div>
        <details>
            <summary>Add comment</summary>
            <div>
                <partial name="_CreateComment" model="new Comment { PostId = Model.PostId }"/>
            </div>
        </details>
        @if (Model.Comments != null)
        {
            <partial name="_Comments" model="Model.Comments"/>
        }
    </div>
</div>