@model Post
@{
    ViewData["Title"] = Model.Title;
}

<div>
    <partial name="_PostCard" model="Model"/>
    <div>
        <details>
            <summary>Add comment</summary>
            <div>
                <partial name="_CreateComment" model="new Comment { PostId = Model.PostId }"/>
            </div>
        </details>
        @if (Model.Comments != null)
        {
            <partial name="_Comments" model="Model.Comments"/>
        }
    </div>
</div>