@using forum.ViewModels
@model Post
@{
    ViewData["Title"] = Model.Title;
}

<div class="post-post">
    @{
        var postCardViewModel = new PostCardViewModel
        {
            Post = Model,
            LimitContent = false,
            HideGoToPost = true
        };
    }

    @* Post *@
    <partial name="_PostCard" model="postCardViewModel"/>

    @* Add comment *@
    <details class="add-comment-container">
        <summary>Add comment</summary>
        <div class="comment-view-container">
            <partial name="_CreateComment" model="new Comment { PostId = Model.PostId }"/>
        </div>
    </details>

    @* Comments *@
    @if (Model.Comments != null)
    {
        <partial name="_Comments" model="Model.Comments"/>
    }
</div>