@model forum.ViewModels.PostCreateViewModel

@{
    ViewData["Title"] = "Update Post";
}
<h1>Update Post</h1>

<form asp-action="Update">
    <input type="hidden" asp-for="Post.PostId"/>
    <div>
        <label asp-for="Post.Title"></label><span>*</span>
        <input asp-for="Post.Title"/>
        <span asp-validation-for="Post.Title"></span>
    </div>
    <div>
        <label asp-for="Post.Content"></label><span>*</span>
        <input asp-for="Post.Content"/>
        <span asp-validation-for="Post.Content"></span>
    </div>
    <div>
        <label asp-for="Post.Category"></label><span>*</span>
        <select asp-for="Post.CategoryId" asp-items="Model.CategorySelectList"></select>
        <span asp-validation-for="Post.CategoryId"></span>
    </div>
    <div>
        <label asp-for="Post.Tags"></label><span>*</span>
        <select multiple asp-for="Post.TagsId" asp-items="Model.TagSelectList"></select>
        <span asp-validation-for="Post.TagsId"></span>
    </div>
    <button type="submit">Save</button>
    <a asp-action="Card">Back to Card View</a>
</form>