@model forum.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Update Post";
}
<h1>Update Post</h1>

<form asp-action="Update" asp-method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Post.PostId"/>
    <input type="hidden" asp-for="Post.UserId"/>
    <input type="hidden" asp-for="Post.DateCreated"/>

    <div>
        <label asp-for="Post.Title"></label><span>*</span>
        <input asp-for="Post.Title"/>
        <span asp-validation-for="Post.Title"></span>
    </div>
    <div>
        <label asp-for="Post.Content"></label><span>*</span>
        <textarea asp-for="Post.Content"></textarea>
        <span asp-validation-for="Post.Content"></span>
    </div>
    <div>
        <label asp-for="Post.Category"></label><span>*</span>
        <select asp-for="Post.CategoryId" asp-items="Model.CategorySelectList"></select>
        <span asp-validation-for="Post.CategoryId"></span>
    </div>
    <div>
        <label asp-for="Post.Tags"></label><span>*</span>
        <select multiple asp-for="Post.TagsId" asp-items="Model.TagList"></select>
        <span asp-validation-for="Post.TagsId"></span>
    </div>
    <button type="submit">Save</button>
    <a asp-action="Card">Back to Card View</a>
</form>