@page
@model forum.ViewModels.TopicListViewModel
@{
    ViewData["Title"] = "Topics";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TOPICS</h1>
    @foreach (var topic in Model.Topics)
    {
        <div class="mb-4">
            <div>@topic.TopicId</div>
            <div>@topic.Name</div>
        </div>
    }
</div>
