@model IEnumerable<forum.Models.Item>

<div class="container">
    <h1>@ViewBag.CurrentViewName</h1>
    <table class='table table-striped'>
        <tr><th>Id</th><th>Name</th><th>Price</th><th>Description</th></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemId</td>
                <td>@item.Name</td>
                <td>@item.Price.ToString("0.00 NOK")</td>
                <td></td>
            </tr>
        }
    </table>
</div>
