@*@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="identity-account">
    <h1>@ViewData["Title"]</h1>
    <h2>Enter your email.</h2>
    <hr/>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true"/>
            <span asp-validation-for="Input.Email" class="error"></span>
        </div>
        <button type="submit" class="submit-btn">Reset Password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}*@