@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="identity-account">
    <h1>@ViewData["Title"]</h1>
    <h2>Use a local account to log in.</h2>
    <hr/>
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true"/>
            <span asp-validation-for="Input.Email" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" autocomplete="current-password" aria-required="true"/>
            <span asp-validation-for="Input.Password" class="error"></span>
        </div>
        <div class="checkbox-group">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe"/>
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <button id="login-submit" class="submit-btn" type="submit">Log in</button>
        <div>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}