@*@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="identity-account">
    <h1>@ViewData["Title"]</h1>
    <h2>Enter your email.</h2>
    <hr/>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Input.Email" class="form-label"></label>
            <input asp-for="Input.Email" aria-required="true"/>
            <span asp-validation-for="Input.Email" class="error"></span>
        </div>
        <button type="submit" class="submit-btn">Resend</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}*@