@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="identity-account">
    <h3>@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Input.OldPassword"></label>
            <input asp-for="Input.OldPassword" autocomplete="current-password" aria-required="true" />
            <span asp-validation-for="Input.OldPassword" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.NewPassword" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.ConfirmPassword" class="error"></span>
        </div>
        <button type="submit" class="submit-btn">Update password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
