@*@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div id="delete-personal-data" class="identity-account">
    <h3>@ViewData["Title"]</h3>

    <div>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
    </div>

    <div>
        <form id="delete-user" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            @if (Model.RequirePassword)
            {
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true"/>
                    <span asp-validation-for="Input.Password" class="error"></span>
                </div>
            }
            <button class="submit-btn" type="submit">Delete data and close my account</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}*@