@*@page
@model EmailModel
@{
    ViewData["Title"] = "Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="identity-account">
    <h3>@ViewData["Title"]</h3>

    <div class="form-group">
        <input asp-for="Email" disabled/>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}*@