.admin-dashboard {    
    & input[type="submit"] {
        box-shadow: inset 0 0 1px 1px var(--primary);
        cursor: pointer;
    }
    
    .delete-input {
        width: min-content;
        white-space: nowrap;
        color: var(--txt-1) !important;
        background-color: var(--error) !important;
        
        &:hover {
            filter: brightness(125%);
        }
        
        & i {
            margin-right: 4px;
        }
    }
    
    .configure-categories {
        .add-category {
            display: flex;
            flex-direction: column;
            
            & form {
                display: flex;
                align-items: end;
                margin: 8px 0;
                gap: 12px;
                
                & input[type="file"] {
                    height: 35px;
                    padding: 6px 12px;
                }
                
                & input[type="color"] {
                    height: 35px;
                    padding: 2px 4px;
                    cursor: pointer;
                }
                
                & input[type="submit"] {
                    height: min-content;
                }
            }
        }
        
        .change-categories {
            display: flex;
            flex-direction: column;
            margin-top: 12px;
            
            .category-changer {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin: 6px 0;
                padding: 12px 16px;
                border-radius: 6px;
                background-color: var(--fg-1);

                & input, & button {
                    background-color: var(--fg-2);

                    &:hover {
                        background-color: var(--fg-3) !important;
                    }
                }
                
                & form {
                    display: flex;
                    align-items: end;
                    gap: 12px;

                    & input[type="file"] {
                        height: 35px;
                        padding: 6px 12px;
                    }

                    & input[type="color"] {
                        height: 35px;
                        padding: 2px 4px;
                        cursor: pointer;
                    }
                }
                
                & img {
                    max-height: 400px;
                    max-width: 400px;
                }
            }
        }
    }
    
    .configure-tags {    
        margin-top: 24px;
        
        .add-tag {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & form {
                display: flex;
                align-items: end;
                gap: 4px;
            }
        }
        
        .change-tags {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 12px;
            
            .tags {
                display: flex;
                flex-direction: column;
                gap: 8px;
                
                .tag {
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                }
            }
        }
    }
}
