.dashboard {
    
    & > section {
        margin-bottom: 48px;
        
        & h2 {
            font-size: var(--fs-3xl);
        }
        
        & > section {
            margin-bottom: 24px;
            
            & h3 {
                font-size: var(--fs-2xl);
            }
            
            .posts {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin-top: 6px;
            }
            
            .comments {
                display: flex;
                flex-direction: column;
                gap: 2px;
                
                .comment {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 16px;
                    width: 100%;
                    padding: 8px 12px;
                    border-radius: 2px;
                    background-color: var(--fg-1);
                    transition: var(--tr-default);
                    
                    .comment-content {
                        font-style: italic;
                        margin-right: auto;
                    }
                    
                    .likes, & a {
                        white-space: nowrap;
                    }
                    
                    .likes {
                        font-size: var(--fs-s);
                    }
                    
                    & a {
                        text-decoration: none;
                        
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &:hover {
                        background-color: var(--fg-2);
                    }
                }
            }
        }
    }
}