.identity-account {
    max-width: 400px;
    margin: 0 auto;

    .alert {
        .btn-close {
            display: none;
        }
    }

    & form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 16px 0;

        .submit-btn {
            padding: 16px;
        }
    }
}