.manage-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 4px;
    border-bottom: 2px solid var(--txt-1);
    border-radius: 4px 4px 0 0;
    background-color: var(--fg-1);

    & a {
        font-size: var(--fs-s);
        margin-bottom: 1px;

        & i {
            margin-right: 16px;
            color: var(--txt-2);
            transition: var(--tr-default);
        }

        &.active {
            background-color: var(--fg-2);
        }

        &:hover {
            background-color: var(--fg-3);
        }

        &.active,
        &:hover {
            & i {
                color: var(--txt-1);
            }
        }
    }
}