/* Used for the index (profile) page */

#profile {
    .no-profile-picture-selected {
        font-size: var(--fs-s);
        color: var(--txt-2);
    }
    
    #profilePictureInput {
        padding: 0;
        background-color: unset;
    }
    
    #file-upload-button {
        
    }
}
