#profile {
    .profile-container {
        margin: 4px 0;

        .no-profile-picture-selected {
            font-size: var(--fs-s);
            color: var(--txt-2);
        }

        #profilePicture {
            position: relative;
            width: 100%;
            margin: 4px 0;
            border: 1px solid var(--fg-1);
        }

        #profilePictureInput {
            padding: 0;
            background-color: unset;
        }
    }

    #logout-form {
        #logout-btn {
            transition: var(--tr-default);

            &:hover {
                box-shadow: inset 0 0 1px 1px var(--warning);
            }
        }
    }
}
