#post-card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .title {
            margin: 0 !important;
        }

        & .change-view-link {
            text-decoration: none;
            width: min-content;
            border-radius: 6px;
            padding: 12px 18px;
            color: var(--txt-1);
            background-color: var(--fg-2);
            white-space: nowrap;
            transition: var(--tr-default);

            & i {
                margin-left: 16px;
                transition: var(--tr-default);
            }

            &:hover {
                background-color: var(--fg-3);

                & i {
                    transform: scale(1.125);
                }
            }
        }
    }

    & .posts {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}