.post-card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .title {
            margin: 0 !important;
        }
    }

    & .posts {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}