@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Font families */
    --ff-default: 'Roboto', sans-serif;
    --ff-mono: 'Roboto Mono', monospace;
    /* Font sizes */
    --fs-s: 12px;
    --fs-default: 14px;
    --fs-l: 16px;
    --fs-xl: 18px;
    --fs-2xl: 20px;
    --fs-3xl: 28px;
    /* Theme */
    --primary: #9FBFA7;
    --secondary: #5856e1;
    /* Status */
    --error: #B71C1C;
    --info: #2196F3;
    --success: #4CAF50;
    --warning: #FFC107;
    /* Background, foreground, text */
    --bg-1: #121212;
    --fg-1: #2d2d2d;
    --fg-2: #414141;
    --fg-3: #5a5a5a;
    --txt-1: #eeeeee;
    --txt-2: #bbbbbb;
    --txt-3: #a9a9a9;
    /* Transitions */
    --tr-default: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    /* Navbar */
    --nav-height: 54px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--txt-1);
    font-size: var(--fs-default);
    font-family: var(--ff-default);
}

html {
    background-color: var(--bg-1);
}

.title {
    font-size: var(--fs-3xl);
    font-weight: bold;
    margin: 14px 0;
}

h1 {
    font-size: var(--fs-2xl);
    margin: 12px 0 8px 0;
}

h2 {
    font-size: var(--fs-xl);
    margin: 10px 0 6px 0;
}

h3 {
    font-size: var(--fs-l);
    font-weight: bold;
    margin: 8px 0 6px 0;
}

h4 {
    font-size: var(--fs-l);
    margin: 6px 0;
}

h5 {
    font-weight: bold;
    margin: 6px 0;
}

h6 {
    font-weight: bold;
    opacity: 75%;
    margin: 6px 0;
}

p {
    margin: 6px 0;
}

a {
    color: var(--info);
}

input, textarea, select, button, .input, #file-upload-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: var(--txt-1);
    background-color: var(--fg-1);
    transition: var(--tr-default);
    line-height: 19px;

    &:hover {
        background-color: var(--fg-2);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

select {
    padding-right: 8px;
    border-right: 12px solid transparent;
}

input:not([type='checkbox'], [type='file']), textarea, select {
    outline: 2px solid transparent;

    &:focus {
        outline-color: var(--primary);
    }
}

button {
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;

    & label {
        padding-bottom: 2px;
    }

    & .error:not(:empty) {
        margin-top: -6px;
        padding: 10px 12px 4px 12px;
        border-radius: 0 0 4px 4px;
        color: var(--txt-1);
        background-color: var(--error);
        z-index: -1;
    }
}

.checkbox-group {
    & label {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        & input {
            display: flex;
            justify-content: center;
            align-items: center;
            appearance: none;
            padding: 0;
            height: 24px;
            width: 24px;
            color: var(--fg-1);
            background-color: var(--fg-1);
            cursor: pointer;

            &::before {
                font-family: "Font Awesome 6 Free"; /* Ignore warning, font-family is imported along with the fontawesome cdn but not recognised by editor */
                font-weight: 400;
                content: "\f00c";
                color: var(--txt-1);
                transform: scale(0);
                transition: var(--tr-default);
            }

            &:checked::before {
                transform: scale(1);
            }
        }

        &:hover {
            & input {
                background-color: var(--fg-3);
            }
        }
    }
}

.deleted-user {
    color: var(--txt-2);
    font-style: italic;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    height: var(--nav-height);
    width: 100%;
    background-color: var(--fg-1);
    padding: 0 12px 0 24px;
    box-shadow: 0 0 4px 2px var(--bg-1);
    z-index: 1000;

    #brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        text-decoration: none;

        & i {
            font-size: var(--fs-xl);
        }

        & span {
            font-size: var(--fs-l);
            font-family: var(--ff-mono);
            letter-spacing: -1px;
        }
    }

    #nav-links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;

        & ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2px;
        }

        @media screen and (max-width: 848px) {
            display: none;
            position: absolute;
            top: calc(var(--nav-height) + 8px);
            right: 8px;
            flex-direction: column;
            flex-grow: unset;
            gap: 2px;
            padding: 16px;
            border-radius: 4px;
            border: 1px solid var(--fg-2);
            background-color: var(--fg-1);
            z-index: -1;

            &.active {
                display: flex;
            }

            & ul {
                flex-direction: column;

                & li {
                    margin: 16px 0;
                }
            }
        }

        #nav-login-container {
            #logout-btn:hover {
                color: var(--bg-1);
                background-color: var(--warning);
            }
        }
    }

    .nav-btn-text {
        text-decoration: none;
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        color: var(--txt-1);
        background-color: var(--fg-1);
        cursor: pointer;
        transition: var(--tr-default);

        &.active {
            background-color: var(--fg-2);
        }

        &:hover {
            background-color: var(--fg-3);
        }
    }

    .nav-btn-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        aspect-ratio: 1/1;
        margin-left: auto;
        border: none;
        border-radius: 44px;
        background-color: var(--fg-1);
        cursor: pointer;
        transition: var(--tr-default);

        &:hover {
            background-color: var(--fg-3);
        }

        & i {
            font-size: var(--fs-l);
        }
    }

    #burger-btn {
        display: none;
        margin-left: auto;

        @media screen and (max-width: 848px) {
            display: flex;
        }

        & i {
            &.fa-bars {
                display: inline-block;
            }

            &.fa-xmark {
                display: none;
            }
        }

        &.active {
            & i {
                &.fa-bars {
                    display: none;
                }

                &.fa-xmark {
                    display: inline-block;
                }
            }
        }
    }
}

main {
    width: 100%;
    padding-top: var(--nav-height);

    #main-inner-container {
        max-width: 948px;
        margin: 0 auto;
        padding: 48px 24px 24px 24px;
    }
}

