.post-compact {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 784px) {
            flex-direction: column;
            gap: 8px;
        }

        & .title {
            margin: 0 !important;
        }
    }

    & .posts {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}