.create, 
.update {
    & form {
        display: flex;
        flex-direction: column;
        
        .form-group {
            margin-bottom: 16px;
        }
        
        .tags {
            & select {
                min-height: 150px;
            }
            
            .explanation {
                color: var(--txt-2);
                
                .ctrl {
                    color: var(--txt-2);
                    font-weight: bold;
                }
            }
        }
    }
}