.post-post {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    .add-comment-container {
        border-radius: 6px;
        background-color: var(--fg-1);
        
        & summary {
            padding: 8px 12px;
            border-radius: 6px;
            background-color: var(--fg-1);
            transition: var(--tr-default);
            cursor: pointer;

            &:hover {
                background-color: var(--fg-2);
            }
        }
        
        .comment-view-container {
            margin: 8px;
        }
    }
}